#container {
    height: 500px;
    width: 75%;
    border: 5px solid #7861f4;

    position: relative;
    overflow: hidden;
    background: #111111;
    box-shadow: 0px 0px 50px 4px #7861f4;
}
#sprite {
    width: 50px;
    height: 50px;
    background: #5170ed;
    position: absolute;
}#start{
    position: absolute;
    left: 45%;
    top: 50%;
    border: 4px solid #7861f4;
    background-color: #1111;
    color: #7861f4;
    width:100px;
    height: 50px;
}
/* #deathMsg{
    position: absolute;
    left: 30%;
    top: 30%;
    color: black;
    z-index: 5;
} */
#replay{
    border: 4px solid black;
    background-color: #8B0000;
    color: black;
    z-index: 6;
    margin: auto;
    padding: 5px;
}
#death_popup{
    text-align: center;
    background: #8B0000;
    height: 197px;
    width: 50%;
    position: absolute;
    top: 35%;
    left:30%;
    z-index: 3;
    border: 4px solid black;
}
body {
height: 96vh;
/* text-align: center; */
/* background: #D9D8D9; */
background: #111111;
}

.radio {
text-align: center;
background: #454857;
padding: 1px;
border-radius: 3px;
box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
0 0 0 3px rgba(185, 185, 185, 0.3);
position: absolute;
width:20%;
right:2px;
top: 150px;
overflow: visible;
}

.radio input {
width: 45%;
height: 100%;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
outline: none;
cursor: pointer;
border-radius: 2px;
padding: 4px;
background: #454857;
color: #bdbdbdbd;
font-size: 14px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
transition: all 100ms linear;
}

#hard:checked {
background-image: linear-gradient(180deg, 	#FF0000, 	#8B0000);
color: #fff;
box-shadow: 0 1px 1px #0000002e;
text-shadow: 0 1px 0px #79485f7a;
}#easy:checked {
background-image: linear-gradient(180deg, #95d891, #74bbad);
color: #fff;
box-shadow: 0 1px 1px #0000002e;
text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
content: attr(label);
display: inline-block;
text-align: center;
width: 100%;
}#scorename{
color: black;
text-shadow:
0 0 2px rgba(202,228,225,0.92),
0 0 10px rgba(202,228,225,0.34),
0 0 4px rgba(30,132,242,0.52),
0 0 7px rgba(30,132,242,0.92),
0 0 11px rgba(30,132,242,0.78),
0 0 16px rgba(30,132,242,0.92);


}#score{
position: absolute;
margin: auto;
text-align: center;
color: lavender;
z-index: 20;
bottom: 2%;
right: 1%;
}
 
 #mode_select{
   margin: auto;

 }

.radio2{
 position:absolute;
 right: 55%;
}

 
 .radio2 input {
	width: 90px;
	height: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 0px;
	padding: 4px 8px;
	background: #454857;
	color: #bdbdbdbd;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

#mode_easy:checked {
	background-image: linear-gradient(180deg, #95d891, #74bbad);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}
#mode_hard:checked {
	background-image: linear-gradient(180deg, #FF0000, #8B0000);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio2 input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
#username{
    padding: 5px;
    border: 4px solid black;
    background-color: #8B0000;
    color: black;
    border-radius: 50px;
    margin-bottom: 5px;
    width:40%;
}#submit_score{
    padding: 5px;
    border: 4px solid black;
    background-color: #8B0000;
    color: black;
    border-radius: 50px; 
    width:20%;
}

::placeholder { 
    color: black;
    opacity: 1; 
  }
  .scoreDrop{
      margin: auto;
} 

h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: black;
  text-shadow:
0 0 2px rgba(202,228,225,0.92),
0 0 10px rgba(202,228,225,0.34),
0 0 4px rgb(78,223,223);
}

#title{
transform-origin: 0 0;
transform: rotate(-35deg);
color: #c6e2ff;
text-shadow:
0 0 2px rgba(202,228,225,0.92),
0 0 10px rgba(202,228,225,0.34),
0 0 4px rgba(30,132,242,0.52),
0 0 7px rgba(30,132,242,0.92),
0 0 11px rgba(30,132,242,0.78),
0 0 16px rgba(30,132,242,0.92);
font-family: "Vibur", cursive;
font-size: 400%;
margin-left: 30px;
margin-bottom: -40px;
margin-top: 6%;
}


.top_drop{
    background:#7861f4;
    text-align: center;
}